@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --app-height: 100vh;
  --app-bg-color: #18181b;
  --app-text-color: white;
  --header-height: 64px;
  font-family: "Helvetica Neue",Arial,sans-serif;
}

html, body {
  height: var(--app-height);
  color: var(--app-text-color);
}

#__next {
  height: var(--app-height)
}

main {
  height: calc(100% - var(--header-height));
  height: -webkit-calc(100% - var(--header-height));
  height: -moz-calc(100% - var(--header-height));
}

@keyframes flip {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1, 0);
  }
  100% {
    transform: scale(1, 1);
  }
}

.flip {
  animation: flip;
  animation-duration: 500ms;
}