@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-height: 64px;
  font-family: 'Clear Sans';
}

header {
  height: var(--header-height);
}

main {
  height: calc(100% - var(--header-height));
}
